<%- include('header'); -%>
<main class="container">
  <img src="/images/logo.png" alt="">
  <h1 class="af"><%= title %></h1>
  <p class="af">Welcome to <%= title %> <a href="/Page">link</a></p>
</main>
<%- include('footer') -%>
